body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: #515151;
  background: linear-gradient(45deg, #185add, #43c2a2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
    border: #515151 solid 1px;
    padding: 20px;
    background-color: orange;
    width: 500px;
    border-radius: 15px 15px 0 0;
}

.weather h1 {
    margin: 0;
    font-size: 2rem;
}